<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>You're here! Great!</h1>
            <p>If you want more info, read this.</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Contact Me</h3>
            <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaB</p>
            <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaB</p>
            <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaB</p>
            <p>BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaB</p>
        </div>
    </div>

<div class="col-sm-12">
    <p class="text-justify">Curabitur tincidunt velit eu justo varius vulputate. Etiam ullamcorper ligula ac orci commodo, at elementum urna dapibus. Fusce sapien nunc, pharetra at nunc non, placerat tempor ante. Vestibulum et efficitur orci, id iaculis augue. Aenean tristique ultrices pulvinar. Mauris rhoncus venenatis orci, ut molestie urna rhoncus et. Quisque non tellus eget ligula laoreet tincidunt. Donec ultrices ullamcorper nibh et posuere. Duis suscipit commodo euismod. Aenean quis felis at arcu pharetra dictum nec eget massa. Cras rutrum faucibus mi ut porttitor. Duis eleifend, eros a efficitur condimentum, magna elit auctor sapien, at pharetra urna nisl a leo. Ut et tempus quam, nec porttitor nisl. Sed purus enim, mattis sit amet quam at, bibendum consectetur ipsum.

</p>
</div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
