<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Quête NodeJS - Serveur HTTP</h1>
            <p>Welcome to my nodeJS demo!</p>
        </div>
            <h2 class="text-center">More info</h2>
            <p class="text-center"><%= tagline %></p>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a condimentum ante, eu fermentum neque. Morbi ac rhoncus ligula, sed gravida tellus. Sed consequat, dolor et consequat aliquam, metus quam cursus dolor, sed sollicitudin sapien nulla ac nunc. Pellentesque vitae lectus in urna tristique vulputate vel eu nisi. Nulla tellus tellus, tincidunt sed vehicula non, volutpat id tortor. Proin feugiat viverra congue. Duis ipsum sapien, accumsan et viverra eu, ullamcorper ac urna. Pellentesque dictum sollicitudin urna, ac aliquam orci posuere et. Nulla at malesuada sem, at malesuada mauris. Curabitur maximus imperdiet nibh, eu malesuada nulla auctor et. Fusce pellentesque mattis dui sit amet dignissim.</p>
            <p class="text-justify">Maecenas eget bibendum velit. Etiam fermentum ipsum ut velit vehicula, vitae sagittis turpis mattis. Phasellus sollicitudin viverra sollicitudin. Etiam sagittis justo sapien, et gravida ex porta vel. Vivamus et nisi ac lorem tempor condimentum. Curabitur et congue ante, sed sodales urna. Etiam posuere lacus sed magna auctor, quis porttitor libero vulputate. Ut at gravida lorem. Mauris purus neque, condimentum sit amet neque quis, rutrum tempor arcu. Phasellus et tristique urna. Curabitur vulputate enim vitae metus semper egestas. Mauris eget turpis consequat, porttitor enim vel, finibus enim.</p>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    </body>
</html>
